.header{
    background-color: aliceblue;
    position: relative;
    display: inline-flex;
    width: 100%;
}

.title{
    font-size: 2em;
    color: blue;
    margin: 16px;
}

.btn{
    margin: 16px;
    padding: 12px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    float: right;
    position: absolute;
    right: 0;
}