.header{
    background-color: #F8F7FD;
    position: relative;
    display: inline-flex;
    width: 100%;
    
}

.title{
    font-size: 2em;
    font-family: 'Madimi One', sans-serif;
    font-weight: 700;
    color: #593BCD;
    margin: 16px;
}



